.contact-form {
  background-color: #fff;
  padding: 1px 30px 30px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
  margin-top: -110px;
  margin-right: 830px;
}
.contact-form h4 {
  max-width: 210px;
  font-size: 30px; /* Adjust the font size as needed */
  font-weight: 1000; /* Adjust the font weight as needed */
  font-family: Arial, sans-serif; /* Use Arial as the font with a fallback to generic sans-serif */
}

.form-group {
  margin-bottom: 20px;
  margin-right: 15px;
}

label {
  display: block;
  font-weight: 600;
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #cac9b7;
  border-radius: 5px;
  font-size: 16px;
}
input,
::placeholder {
  font-family: "Courier New", Courier, monospace;
}

button[type="submit"] {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  max-width: 1000px;
  margin-left: -300px;
}

button[type="submit"]:hover {
  background-color: transparent;
  color: black;
  border: solid black;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #888;
}

.thank-you-message {
  text-align: center;
  margin-top: 20px;
}

.thank-you-message h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .contact-form {
    padding: 20px;
  }
}
