.html {
  color: #e75323;
  size: auto;
}
.css {
  color: #264de4;
}
.java {
  color: #f0db4f;
}

.react {
  color: #61dbfb;
}
.cpp {
  height: 25px;
  margin-top: 10px;
}
.h3 {
  color: white;
  font-family: Georgia, serif;
}
